version: "3"

services:
  maven:
    image: cogvio/maven:3.6.0-8u192b12_jdk_unlimited
    build:
      context: maven

  maven-nodejs:
    image: cogvio/maven-nodejs:3.6.0-8u192b12_jdk_unlimited-10.13.0js-2.7.15py
    build:
      context: maven-nodejs
    depends_on:
      - maven

  rsyslog:
    image: cogvio/rsyslog:latest
    build:
      context: rsyslog

  aws-xray:
    image: cogvio/aws-xray:3
    build:
      context: aws-xray
